* {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
	width: 1100px;
	margin: 20px auto;
}

#header {
	background-color: #C3EAFF;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	border: 1px solid #47525E;
	border-radius: 10px;
	padding: 20px 0;
	color: #47525E;
}

#form {
	background-color: #E7FFF2;
	border: 1px solid #47525E;
	border-radius: 10px;
	text-align: center;
	margin: 20px 0px;
}

.form {
	padding: 20px 0;
}

.form input, span {
	margin-right: 20px;
	padding: 5px 5px;
}

.form span {
	font-weight: bold;
	color: #47525E;
}

.form select {
	margin-right: 20px;
	height: 30px;
}

.form input#distance {
	width: 100px;
}

.form input#save {
	background-color: #47455E;
	border: none;
	color: white;
	padding: 5px 30px;
    text-align: center;
    text-decoration: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
}

div#resultsTracker {
    width: 1100px;
    margin: 20px auto;
}

div#resultsTrackerAdd {
    float: left;
}

div#recordResultTracker {
    float: right;
}

div#recordResultTrackerLongest {
    background-color: #FFECEC;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

div#recordResultTrackerTotal {
    background-color: #F3EBFE;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.textBold span {
    font-weight: normal;
}

.result {
	text-align: center;
    padding: 10px 25px;
    width: 500px;
    margin-bottom: 20px;
    background-color: #FFF0E9;
    border: 1px solid #47525E;
    border-radius: 5px;
}

.result p {
	display: inline;
	padding: 0px 10px;
}

p.longestRecord {
    padding: 20px 30px;
    display: inline-block;
}

p.textBold {
    font-weight: bold;
}